extends layout


block content
  h1 Mini MessageBoard
  
  each message in messages 
    h4 "#{message.text}"
    p -#{message.user}
    p #{message.added}
    p #{"-".repeat(100)}

  a(href="/new") Create Post 